<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.krismaaditya.progmobtw_adit">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!--
    <resources>
        <string android:name="com.twitter.sdk.android.CONSUMER_KEY">
            3o3B1Wo1DDYi05h3lMPUNhb7m
        </string>

        <string android:name="com.twitter.sdk.android.CONSUMER_SECRET">
            tpDrvsb9pdSgFtazrR1HMDuvUwuyTlIrTmG7i2WJvDcZvWEIqk
        </string>
    </resources>
    -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MenuActivity"
            android:label="Menu"/>

        <!--
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3313ade489ad6c5191d5326c5d51ff8c69c0863a"
            />
            -->
    </application>

</manifest>